<!doctype html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>article</title>
  </head>
  <body>
    <%- include('./src/layout/navbar.ejs'); -%>
    <section>
      <div class="lg:container">
        <img
          class="w-full lg:hidden"
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/article-banner-sm.png?raw=true"
          alt="article-banner"
        />
        <img
          class="hidden w-full lg:block"
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/article-banner.png?raw=true"
          alt="article-banner"
        />
      </div>
    </section>
    <article>
      <div class="container pb-[3.75rem] lg:px-[13.75rem] lg:pb-[6.25rem]">
        <div class="pb-7">
          <%- include('./src/components/breadcrumbs-article'); -%>
          <div class="grid gap-2">
            <h2
              class="pb-2 text-2xl font-black text-gray-500 lg:pb-4 lg:text-[2.5rem]"
            >
              私人島嶼的露營奇遇記
            </h2>
            <time class="text-gray-300" datetime="2024 / 5 / 1">
              2024 / 5 / 1
            </time>
          </div>
        </div>
        <div class="fade-out relative space-y-6 font-semibold lg:space-y-10">
          <p>
            嗨！我是秘境尋蹤小編
            Elly，很高興能與你分享我這段令人心曠神怡的旅程。這不僅僅是一次旅行，更是一場對自然、對內心的深度體悟，一次重新與大自然連結的奇妙旅程。希望透過我的分享，你也能感受到這份自然之美，並找到一份屬於自己的心靈寧靜。
          </p>
          <p>
            這段旅程的開始，是從一個遙遠的小島。我對於這片土地的認識，僅止於一些遊記和照片，對於它的神秘感與未知感讓我充滿了好奇。一艘小船，帶著我穿越海浪，穿過風暴，終於抵達了這片被大自然雕琢的寶地。當我踏上這片島嶼的那一刻，心中充滿了震撼與喜悅。
          </p>
          <img
            class="w-full md:hidden"
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/content-1-sm.png?raw=true"
            alt="content"
          />
          <img
            class="hidden w-full md:block"
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/content-1.png?raw=true"
            alt="content"
          />
        </div>
        <div class="mt-6 flex flex-col items-center gap-4 font-bold lg:mt-10">
          <p class="text-center leading-relaxed">
            本篇為會員專屬文章
            <span class="hidden lg:inline-block">，</span>
            <br class="block lg:hidden" />
            馬上訂閱瀏覽所有內容！
          </p>
          <a
            class="btn-click flex items-center justify-center gap-3 rounded-full bg-accent-200 px-5 py-3 font-bold text-white"
            href="./subscribe.html"
          >
            我要訂閱
            <span class="material-symbols-outlined text-xl">east</span>
          </a>
        </div>
      </div>
    </article>
    <section>
      <div class="container overflow-hidden pb-[3.75rem] lg:px-[226px]">
        <h2 class="sub-title pb-5 lg:text-[2rem]">延伸閱讀</h2>
        <div class="swiper5">
          <ul class="swiper-wrapper md:!w-full">
            <li
              class="swiper-slide grid-cols-8 pb-6 md:!w-full md:gap-6 lg:!grid"
            >
              <img
                class="col-span-2 pb-4"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/read-1-sm.png?raw=true"
                alt="read-1"
              />
              <div class="col-span-6">
                <h3 class="pb-2 text-xl font-black">私人島嶼的露營奇遇記</h3>
                <p class="pb-3 text-gray-400">
                  遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜...
                </p>
                <div
                  class="text-end font-Newsreader text-xl font-bold text-accent-200"
                >
                  <a class="readmore" href="#">Read More</a>
                </div>
              </div>
            </li>
            <li
              class="swiper-slide grid-cols-8 pb-6 md:!w-full md:gap-6 lg:!grid"
            >
              <img
                class="col-span-2 pb-4"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/read-2-sm.png?raw=true"
                alt="read-1"
              />
              <div class="col-span-6">
                <h3 class="pb-2 text-xl font-black">城市野營日記</h3>
                <p class="pb-3 text-gray-400">
                  終於!我實現了一個看似瘋狂的想法—在熟悉的城市裡野營一晚。說實話,一開始我也有點懷疑自己,畢竟眾目睽睽之下搭帳篷實在有點怪異。不過漸漸地,這股初時的侷促不安...
                </p>
                <div
                  class="text-end font-Newsreader text-xl font-bold text-accent-200"
                >
                  <a class="readmore" href="#">Read More</a>
                </div>
              </div>
            </li>
            <li
              class="swiper-slide grid-cols-8 pb-6 md:!w-full md:gap-6 lg:!grid"
            >
              <img
                class="col-span-2 pb-4"
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/read-3-sm.png?raw=true"
                alt="read-1"
              />
              <div class="col-span-6">
                <h3 class="mb-2 text-ellipsis text-xl font-black">
                  和寵物去露營 - 大自然之旅的雙倍體驗
                </h3>
                <p class="pb-3 text-gray-400">
                  說實話,一開始我有點擔心帶著我的狗狗露營會不會太麻煩。畢竟要照顧牠的飲食起居,還得注意牠的安全。不過這次經驗讓我徹底改觀了!出發前,我特意為狗狗準備了適當的...
                </p>
                <div
                  class="text-end font-Newsreader text-xl font-bold text-accent-200"
                >
                  <a class="readmore" href="#">Read More</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <%- include('./src/layout/footer.ejs'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
