<!doctype html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login/sign up</title>
  </head>
  <body>
    <%- include('./src/layout/navbar.ejs'); -%>

    <section>
      <div class="container border-t border-gray-300">
        <div
          class="border-primary-300 mt-[6.25rem] flex flex-col items-center justify-center gap-10 rounded-xl border bg-white p-10"
        >
          <h2 class="sub-title text-accent-200">註冊</h2>
          <form class="flex flex-col gap-4" action="#">
            <div>
              <label for="email">會員帳號</label>
              <div>
                <input
                  class="bg-gray-100 px-4 py-3"
                  type="email"
                  name="email"
                  id="email"
                  placeholder="請輸入會員帳號"
                  required=""
                />
              </div>
            </div>
            <div>
              <label for="password">密碼</label>
              <div>
                <input
                  class="bg-gray-100 px-4 py-3"
                  type="password"
                  name="password"
                  id="password"
                  placeholder="請輸入密碼"
                  required=""
                />
              </div>
            </div>
            <div>
              <label for="password">電子信箱</label>
              <div>
                <input
                  class="bg-gray-100 px-4 py-3"
                  type="password"
                  name="password"
                  id="password"
                  placeholder="請輸入電子信箱"
                  required=""
                />
              </div>
            </div>
            <button
              class="flex items-center gap-3 rounded-full bg-accent-200 px-5 py-3 font-bold text-white"
              type="submit"
            >
              立即註冊
              <span class="material-symbols-outlined text-xl">east</span>
            </button>
          </form>
          <div class="flex w-full max-w-lg items-center">
            <hr class="flex-grow border-gray-300" />
            <span class="px-3 text-gray-500">或以其他方式註冊</span>
            <hr class="flex-grow border-gray-300" />
          </div>
          <div class="flex flex-col gap-2">
            <button class="bg-gray-100 py-3">使用 Google 註冊</button>
            <button class="bg-gray-100 py-3">使用 Facebook 註冊</button>
          </div>
          <div class="flex">
            <p>已經是會員了？</p>
            <a href="#">點此登入</a>
          </div>
        </div>
      </div>
    </section>
    <%- include('./src/layout/footer.ejs'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
