<!doctype html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>subscribe</title>
  </head>
  <body>
    <%- include('./src/layout/navbar.ejs'); -%>
    <div class="container">
      <%- include('./src/components/breadcrumbs-subscribe.ejs'); -%>
      <h2 class="sub-title pb-10 xl:text-[2.5rem]">訂閱方案</h2>
      <div>
        <div class="flex grid-cols-12 pb-6 font-bold md:grid md:gap-6">
          <p
            class="col-span-2 col-start-5 w-full bg-accent-200 py-3 text-center text-white"
          >
            年繳
          </p>
          <p
            class="col-span-2 col-start-7 w-full py-3 text-center text-accent-200"
          >
            月繳
          </p>
        </div>
        <ul class="flex grid-cols-12 flex-col gap-6 pb-[6.25rem] sm:grid">
          <li
            class="col-span-8 col-start-3 flex flex-col rounded-xl border border-primary-300 bg-white p-6 xl:col-span-4"
          >
            <div
              class="space-y-4 pb-8 font-bold text-[#52525B] xl:pb-[3.75rem]"
            >
              <h6 class="text-center">輕量型</h6>
              <div class="flex items-center justify-center gap-4 xl:pb-10">
                <p class="text-[2rem]">NT 99</p>
                <p class="font-black text-[#A1A1AA]">/ 月</p>
              </div>
            </div>
            <ul class="space-y-7 pb-[3.75rem] text-[#52525B]">
              <li class="flex items-center gap-2">
                <span class="material-icons">check_box</span>
                每月最新文章無限閱讀
              </li>
              <li class="flex items-center gap-2">
                <span class="material-icons">check_box</span>
                專屬會員限定內容
              </li>
              <li class="flex items-center gap-2">
                <span class="material-icons">check_box</span>
                定期電子報
              </li>
            </ul>
            <a
              class="mt-auto flex items-center justify-center gap-3 rounded-full bg-gray-100 px-5 py-3 font-bold text-gray-400"
              href="#"
            >
              我要訂閱
              <span class="material-symbols-outlined text-xl">east</span>
            </a>
          </li>
          <li
            class="col-span-8 col-start-3 flex flex-col rounded-xl border border-primary-300 bg-white p-6 xl:col-span-4"
          >
            <div
              class="space-y-4 pb-8 font-bold text-[#52525B] xl:pb-[3.75rem]"
            >
              <h6 class="text-center">玩咖型</h6>
              <div class="flex items-center justify-center gap-4 xl:pb-10">
                <p class="text-[2rem]">NT 159</p>
                <p class="font-black text-[#A1A1AA]">/ 月</p>
              </div>
            </div>
            <ul class="space-y-7 pb-[3.75rem] text-[#52525B] xl:pb-10">
              <li class="flex items-center gap-2">
                <span class="material-icons">check_box</span>
                每月最新文章無限閱讀
              </li>
              <li class="flex items-center gap-2">
                <span class="material-icons">check_box</span>
                專屬會員限定內容
              </li>
              <li class="flex items-center gap-2">
                <span class="material-icons">check_box</span>
                定期電子報
              </li>
              <li class="flex items-center gap-2">
                <span class="material-icons">check_box</span>
                年度精選禮物
              </li>
              <li class="flex items-center gap-2">
                <span class="material-icons">check_box</span>
                24/7 優先客戶服務
              </li>
            </ul>
            <a
              class="mt-auto flex items-center justify-center gap-3 rounded-full bg-gray-100 px-5 py-3 font-bold text-gray-400"
              href="#"
            >
              我要訂閱
              <span class="material-symbols-outlined text-xl">east</span>
            </a>
          </li>
          <li
            class="col-span-8 col-start-3 rounded-xl border border-primary-300 bg-white p-6 xl:col-span-4"
          >
            <div
              class="space-y-4 pb-8 font-bold text-[#52525B] xl:pb-[3.75rem]"
            >
              <h6 class="text-center">家庭型</h6>
              <div class="flex items-center justify-center gap-4 xl:pb-4">
                <p class="text-[2rem]">NT 599</p>
                <p class="font-black text-[#A1A1AA]">/ 月</p>
              </div>
              <del class="flex justify-center text-gray-300 xl:!mt-0">
                NT 899
              </del>
            </div>
            <ul class="space-y-7 pb-[3.75rem] text-gray-500">
              <li class="flex items-center gap-2">
                <span class="material-icons">check_box</span>
                每月最新文章無限閱讀
              </li>
              <li class="flex items-center gap-2">
                <span class="material-icons">check_box</span>
                專屬會員限定內容
              </li>
              <li class="flex items-center gap-2">
                <span class="material-icons">check_box</span>
                定期電子報
              </li>
              <li class="flex items-center gap-2">
                <span class="material-icons">check_box</span>
                年度精選禮物
              </li>
              <li class="flex items-center gap-2">
                <span class="material-icons">check_box</span>
                24/7 優先客戶服務
              </li>
              <li class="flex items-center gap-2">
                <span class="material-icons">check_box</span>
                為每個成員量身打造專屬行程
              </li>
              <li class="flex items-center gap-2">
                <span class="material-icons">check_box</span>
                最多 5 個家庭成員共享
              </li>
            </ul>
            <a
              class="flex items-center justify-center gap-3 rounded-full bg-accent-200 px-5 py-3 font-bold text-white"
              href="#"
            >
              我要訂閱
              <span class="material-symbols-outlined text-xl">east</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <%- include('./src/layout/footer.ejs'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
