<ol
  class="mb-2 mt-4 flex items-center whitespace-nowrap py-3 font-semibold text-accent-200"
>
  <li class="breadcrumbs-li">
    <a
      class="flex items-center text-sm hover:text-blue-600 focus:text-blue-600 focus:outline-none"
      href="./index.html"
    >
      首頁
    </a>
    <svg
      class="size-5 shrink-0"
      width="16"
      height="16"
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <path d="M6 13L10 3" stroke="currentColor" stroke-linecap="round"></path>
    </svg>
  </li>
  <li class="breadcrumbs-li truncate text-sm font-semibold" aria-current="page">
    訂閱方案
  </li>
</ol>
