<footer>
  <div class="md:container">
    <p
      class="border-t border-[#ADB5BD] py-5 text-center font-Newsreader text-[#6E6B67] lg:font-semibold"
    >
      ©Vivre 2024 All right Reserved
    </p>
  </div>
</footer>
