<footer>
  <div class="container">
    <div
      class="py-12 text-center text-gray-500 lg:flex lg:justify-between lg:py-20"
    >
      <h3 class="sub-title pb-4 lg:text-[2rem]">想看什麼主題由你決定</h3>
      <div class="grid place-items-center gap-9 lg:place-items-end">
        <p class="text-xl font-bold lg:text-2xl">歡迎投稿與我們分享</p>
        <a
          class="rounded-full border border-accent-200 bg-accent-200 px-5 py-3 font-bold text-white"
        >
          我想了解
        </a>
      </div>
    </div>
    <div>
      <p
        class="border-t border-[#ADB5BD] py-5 text-center font-Newsreader text-[#6E6B67] lg:font-semibold"
      >
        ©Vivre 2024 All right Reserved
      </p>
    </div>
  </div>
</footer>
