<div>
  <div>
    <a href="#">
      <h1>Vivre</h1>
    </a>
    <input type="text" placeholder="搜尋文章" />
  </div>
  <div>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <a href="#">所有文章</a>
    <a href="#">訂閱方案</a>
    <a href="#">關於我們</a>
    <a href="#">登入/註冊</a>
  </div>
</div>
