<section class="bg-[#FFFBE5]">
  <div
    class="container grid-cols-2 overflow-hidden py-12 xl:grid xl:py-[7.5rem]"
  >
    <div
      class="flex flex-col items-center pb-16 text-center xl:items-start xl:justify-center xl:pb-0"
    >
      <h6 class="pb-4 font-bold lg:text-xl xl:text-start">
        今天又不知道要去哪裡了嗎？
      </h6>
      <div
        class="items-center space-y-2 pb-6 text-2xl font-black xl:flex xl:space-y-0 xl:text-[2rem] xl:font-bold"
      >
        <p>Vivre</p>
        <p>給你意想不到生活風格提案</p>
      </div>
      <a
        class="btn-click flex items-center gap-3 rounded-full bg-accent-200 px-5 py-3 font-bold text-white"
        href="./subscribe.html"
      >
        馬上訂閱
        <span class="material-symbols-outlined text-xl">east</span>
      </a>
    </div>
    <div class="swiper4">
      <ul class="swiper-wrapper grid-cols-2 xl:!grid xl:gap-6">
        <li
          class="swiper-slide relative col-span-1 translate-y-10 xl:!w-full xl:!transform"
        >
          <span
            class="absolute -top-4 left-4 flex items-center gap-2 rounded-[4px] border border-[#E0EFDE] bg-white px-3 py-[10px] font-bold text-[#406C55]"
          >
            <span class="material-symbols-outlined">arrow_right</span>
            人氣行程
          </span>
          <img
            class="w-full"
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/projects-2.png?raw=true"
            alt="projects-2"
          />
          <a
            class="absolute bottom-0 flex w-full items-center justify-between p-3 font-bold text-white transition-all hover:text-accent-100"
            href="#"
          >
            <p>親子露營要帶甚麼？</p>
            <span class="material-symbols-outlined">east</span>
          </a>
        </li>
        <li
          class="swiper-slide relative col-span-1 col-start-1 row-start-2 flex translate-y-10 xl:!w-full xl:!transform"
        >
          <span
            class="absolute -top-4 left-4 flex items-center gap-2 rounded-[4px] border border-[#E0EFDE] bg-white px-3 py-[10px] font-bold text-[#406C55]"
          >
            <span class="material-symbols-outlined">arrow_right</span>
            編輯推薦
          </span>
          <img
            class="w-full"
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/projects-4.png?raw=true"
            alt="projects-4"
          />
          <a
            class="absolute bottom-0 flex w-full items-center justify-between p-3 font-bold text-white transition-all hover:text-accent-100"
            href="#"
          >
            <p>質感房間改造攻略！</p>
            <span class="material-symbols-outlined">east</span>
          </a>
        </li>
        <li
          class="swiper-slide relative col-span-1 col-start-2 flex -translate-y-10 xl:!w-full xl:!transform"
        >
          <span
            class="absolute -top-4 left-4 flex items-center gap-2 rounded-[4px] border border-[#E0EFDE] bg-white px-3 py-[10px] font-bold text-[#406C55]"
          >
            <span class="material-symbols-outlined">arrow_right</span>
            編輯推薦
          </span>
          <img
            class="w-full"
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/projects-1.png?raw=true"
            alt="projects-1"
          />
          <a
            class="absolute bottom-0 flex w-full items-center justify-between p-3 font-bold text-white transition-all hover:text-accent-100"
            href="#"
          >
            <p>山女孩的健行筆記</p>
            <span class="material-symbols-outlined">east</span>
          </a>
        </li>
        <li
          class="swiper-slide relative col-span-1 col-start-2 flex -translate-y-10 xl:!w-full xl:!transform"
        >
          <span
            class="absolute -top-4 left-4 flex items-center gap-2 rounded-[4px] border border-[#E0EFDE] bg-white px-3 py-[10px] font-bold text-[#406C55]"
          >
            <span class="material-symbols-outlined">arrow_right</span>
            熱門文章
          </span>
          <img
            class="w-full"
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/projects-3.png?raw=true"
            alt="projects-3"
          />
          <a
            class="absolute bottom-0 flex w-full items-center justify-between p-3 font-bold text-white transition-all hover:text-accent-100"
            href="#"
          >
            <p>適合溜小孩的海邊景點推薦</p>
            <span class="material-symbols-outlined">east</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
